{% if site.posts.size > 0 %}
  <ul>
      <!-- <li>
        2024-01-14 <a href="/mithi.html">Mithi</a>
      </li> -->
      <li>
        2024-01-13 <a href="/luna.html">Luna</a>
      </li>
      <!-- <li>
        2024-01-07 <a href="/alon.html">Alon</a>
      </li>
      <li>
        2024-01-05 <a href="/ahon.html">Ahon</a>
      </li> -->
      
    {% for post in site.posts %}
      <li>
        {{ post.date | date: site.theme_config.date_format }} <a href="{{ post.url | relative_url }}">{{ post.title}}</a>
        <!-- {{ post.date | date: site.theme_config.date_format }} <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a> -->
      </li>
    {% endfor %}
      
  </ul>
{% endif %}