<div class="social-links center">


    <a class="link" style="color: #000" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#000'" data-title="astronaut" href="https://www.imcollectingmoonlight.com/" target="_blank"  rel="noopener">
        <i class="fa-solid fa-user-astronaut"></i>
    </a>

    <a class="link" style="color: #000" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#000'" data-title="starlight" href="https://www.imcollectingmoonlight.com/starlightgallery" target="_blank"  rel="noopener">
        <i class="fa-solid fa-moon"></i>
    </a>

    <a class="link" style="color: #000" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#000'" data-title="sunlight" href="https://www.imcollectingmoonlight.com/sunlightgallery" target="_blank"  rel="noopener">
        <i class="fa-solid fa-sun"></i>
    </a>

    <a class="link" style="color: #000" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#000'" data-title="ninja" href="https://tagsdev.xyz/" target="_blank"  rel="noopener">
        <i class="fa-solid fa-user-secret"></i>
    </a>

</div>