// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background-color: white; }

html { height: 100%; }

body {
  color: black;
  font-family: Inconsolata;
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
  min-height: 100%;
}

h2, h3, h4, h5 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background-color: #007bff; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background-color: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.container-face {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

img.face {
  border-radius: 50%;
  width: 250px;
  max-width: 100%;
}

.header-custom {
  text-align: center;
}

.body-custom {
  text-align: center;
  margin: 0;
  line-height: 5px;
}


.social-links {
  > .link {
    margin: 0;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-decoration: none;
    position: relative;
    display: inline-block;
    // height: 50px;
    // width: 50px;
    color: #000;
    

  //   &:hover {
  //     > svg {
  //       color: #007bff;
  //     }
  //   }
  // }
  // > svg {
  //   transition: all ease-in-out .1s;
  }
}


.center {
  margin-top: 20px;
  // border: 5px solid;
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}



.footer-main {
  // border-top: 1px solid #000;
  // padding: 40px 0;
  // margin: 45px 0 0;
  margin: 70px 0 0;
  margin-bottom: 0px;
  font-size: 1.2rem;
  color: #000;
  font-weight: #000;
  text-align: center;
  position: relative;

  &:before {
    display: block;
    content: " ";
    width: 7px;
    height: 7px;
    // border: #000 1px solid;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    // background: #000;
    // box-shadow: #000 0 0 0 5px;
    // border-radius: 3px;
  }
  > .copyright {
    padding-left: 10px;
  }
  > .link {
    display: inline;
    vertical-align: middle;

    > .icon {
      width: 15px !important;
      fill: #000 !important;
      transition: ease-in-out all .3s;
      position: relative;
      display: inherit;
      top: -2px;
      margin: 0;
      left: 2px;

      &:hover {
        fill: #000 !important;
      }
    }
  }
  > .extra {
    color: #000;
    margin-top: 0;
    font-weight: #000;

    > .link {
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: ease-in-out all .3s;
      padding-bottom: 1px;
      font-weight: 300;

      &:hover {
        border-color: #000;
      }
    }
  }
}

.nav {
  // color: black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin: 0;
  // color: #6c757d
}